    h1 {
    background-color: lemonchiffon;
    font-family: cursive;
    text-align: center;
    height: 50px;
    width: 600px; 
    }

    body {
        background-image: url(https://swall.teahub.io/photos/small/327-3274595_free-jungle-forest-wallpaper-4k.jpg);
        background-color: transparent;
        background-position: center;
        background-position: top;
        background-size: cover;
        height: 100%;
    }
    
    .Greg {
        background-image: url(https://www.kenzantours.se/wp-content/uploads/2016/03/Borneo-Kuching-Orangutang-Richie-2-Lars-Jageland-e1548163076910.jpg);
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }

    
